//= require "fonts/corbert/regular"
//= require "fonts/corbert/italic"
//= require "fonts/font-awesome/font-awesome"

$font-family-sans-serif: "Corbert", "Helvetica Neue", Helvetica, Arial, sans-serif
$brand-primary: #8b1212
@import "bootstrap-sprockets"
@import "bootstrap"

.landing-section
  padding: 5em 0
  border-top: 1px solid rgba(#000,.05)

.main-footer
  background: $brand-primary
  color: #fff
  padding: 2em
  a
    color: inherit
  p, ul
    margin-bottom: 0

.top-header
  padding: 1em 0
  h1
    font-size: 20px
    margin: 0
    a
      vertical-align: center

.list-ruby-companies
  margin: 3em 0
  &:hover
    img
      opacity: .2
  li
    margin-right: 1em
  img
    transition-duration: .3s
    opacity: .5
    filter: grayscale(.7)
    -webkit-filter: grayscale(.7)
    max-height: 70px
    &:hover
      opacity: 1
      filter: grayscale(0)
      -webkit-filter: grayscale(0)
